/*----------------------------------------*/
/*  10. MENU CSS START
/*----------------------------------------*/

.main-menu {
  ul {
    gap: 30px;
    display: flex;
    align-items: center;

    @media #{$xl} {
      gap: 10px;
    }

    li {
      &:hover {
        .main-dropdown {
          top: 47px;
          opacity: 1;
          visibility: visible;
        }

        .mega-menu {
          top: 120px;
          opacity: 1;
          visibility: visible;
        }
      }

      a {
        font-size: 16px;
        font-weight: 700;
        padding: 20px 5px;
        color: var(--white);
        text-transform: capitalize;

        &:hover {
          color: var(--white);
        }
      }
    }
  }

  .main {
    &-dropdown {
      position: absolute;
      width: 260px;
      top: 60px;
      padding: 20px 0;
      opacity: 0;
      gap: 15px;
      flex-direction: column;
      align-items: flex-start;
      visibility: hidden;
      transition: all 0.2s;
      background: var(--white-2);
      text-transform: capitalize;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      z-index: 99;
      li {
        padding: 0 30px;
        display: block;
        text-align: left;
        position: relative;

        &:hover {
          .sub-dropdown {
            left: 100%;
            opacity: 1;
            visibility: visible;

            @media #{$xxl} {
              left: -100%;
            }
          }
        }

        a {
          padding: 10px 0;
          color: var(--green);
        }
      }
    }
  }

  .sub {
    &-dropdown {
      position: absolute;
      width: 260px;
      left: 90%;
      top: 0;
      padding: 20px 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
      background: var(--white-2);
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

      @media #{$xxl} {
        left: -90%;
      }

      li {
        padding: 0 30px;
        display: block;
        text-align: left;
        position: relative;

        a {
          padding: 10px 0;
        }
      }
    }
  }

  .has-dropdown {
    position: relative;

    &:hover {
      &::after {
        color: var(--green);
      }
    }

    &::after {
      position: absolute;
      content: "+";
      width: 15px;
      height: 15px;
      top: 3px;
      color: var(--white);
      font-size: 13px;
      font-weight: 700;
      transition: all 0.2s;
      font-family: "Font Awesome 6 Free";
    }
  }

  .has-megamenu {
    position: static;

    &:hover {
      &::after {
        color: var(--primary);
      }
    }

    &::after {
      position: absolute;
      content: "+";
      width: 15px;
      height: 15px;
      top: 74px;
      color: var(--white);
      font-family: "Font Awesome 6 Free";
      font-weight: 700;
      transition: all 0.2s;
    }
  }

  .main-dropdown .has-dropdown {
    position: relative;

    &:hover {
      &::after {
        color: var(--primary);
      }
    }

    &::after {
      position: absolute;
      content: "+";
      width: 15px;
      height: 15px;
      top: 15px;
      right: 20px;
      color: var(--white);
      transform: rotate(-90deg);
      font-family: "Font Awesome 6 Free";
      font-weight: 700;
      transition: all 0.2s;
    }
  }


  // Mega Menu
  .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 140px;
    z-index: 9;
    background-color: var(--white-2);
    text-align: left;
    padding: 40px 230px;
    display: grid;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    grid-template-columns: repeat(6, 1fr);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    @media #{$xxl} {
      padding: 40px 50px;
    }

    @media #{$xl} {
      padding: 40px 20px;
    }

    li {
      display: block;

      &:first-child {
        font-size: 18px;
        color: var(--white);
        padding-bottom: 10px;
        text-transform: capitalize;
      }

      a {
        padding: 8px 5px;
      }
    }
  }

  &-2 {
    @extend .main-menu;

    ul {
      li {
        a {
          padding: 20px 5px;
          color: var(--gray-4);

          &:hover {
            color: var(--black-4);
          }
        }
      }
    }

    .has-dropdown {
      &::after {
        color: var(--gray-4);
      }

      &:hover {
        &::after {
          color: var(--white);
        }
      }
    }



  }
}
.main-menu-2.dark-menu ul li a {
  color: #4A5355;
}